//BLOG SINGLE
.blogPageSingle {
  .theContent {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.casePageSingle {
  .theContent {
    h1 {
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
    .brand {
      width: 200px;
      height: 69px;
      background: $corprincipal;
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      /* transform: rotate(45deg); */
      z-index: 9;
      margin-top: 1.4rem;
      img {
        width: 100px;
        margin-left: 10px;
      }
      &:after {
        content: "";
        display: flex;
        width: 50px;
        position: absolute;
        background: $corprincipal;
        height: 33px;
        position: absolute;
        right: -6px;
        transform: rotate(85deg);
        z-index: 0;
        margin-top: 0.7rem;
        margin-left: -7rem;
      }
    }
    p {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
}
