@keyframes animatedOutCardTranslateIn {
    0% {transform: translateY(-50px); opacity: 0}
    50% {opacity: 0;}
    100% {transform: translateY(0px); opacity: 1; }
}
@keyframes animatedOutCardTranslateOut {
    0% {transform: translateY(0); opacity: 1}
    50% {opacity: 0;}
    100% {transform: translateY(50px); opacity: 0; }
}


@keyframes animatedOutCardOverlayOut {
    0% {background: #000000; opacity: 0;}
    100% {background: #000000; opacity: 1;}
}