@keyframes bodyHtml {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  50%{
    transform: translateY(0);
  }
  100% {

    opacity: 1;
  }
}
@keyframes menuHtml {
  0% {
    transform: translateY(5rem);
    z-index: 0;
    opacity: 0;
  }
  50%{
    transform: translateY(0);
    z-index: 11 !important;
  }
  100% {

    opacity: 1;
  }
}

