@import "fonts.scss";
@import "color.scss";
@import "extras.scss";
@import "variaveis.scss";
@import "buttons.scss";
@import "icons/style.scss";
@import "sidebar.scss";
// PLUGINS
@import "plugins/cards/flip/style.scss";
@import "plugins/cards/fixedCard/style.scss";
@import "plugins/sliders/gallery/style.scss";
@import "plugins/ourStores/style.scss";
@import "image/line/style.scss";
@import "plugins/modal/style.scss";
@import "plugins/sliders/sliders/style.scss";
@import "plugins/cards/fixedCard/style.scss";
// PAGES

// BANNER
@import "banner/principal/style.scss";

//PRINCIPAL
@import "product/principal/style.scss";
html,
body {
    padding: 0;
    margin: 0 auto;
    font-family: "Montserrat Regular";
    -webkit-animation: bodyHtml 2s;
    /* Safari 4.0 - 8.0 */
    animation: bodyHtml 3s;
    overflow-x: hidden;
    font-size: 16px;
}

.menuPrimary {
    width: 100%;
    //background: #fff;
    position: absolute;
    height: 80px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 9 !important;
    .container-fluid {
        height: 100%;
        display: flex;
        align-items: center;
        .row {
            width: 100%;
            padding: 0;
            margin: 0;
            height: 100%;
            align-items: center;
            .center {
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: flex-end;
                justify-content: flex-end;
                height: 100%;
                nav {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    height: 100%;
                    #menu-principal-sticky-wrapper {
                        height: auto !important;
                    }
                    ul {
                        width: 100%;
                        list-style-type: none;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        height: 100%;
                        padding: 0;
                        margin: 0;
                        li {
                            height: 100%;
                            position: relative;
                            display: flex;
                            align-items: center;
                            padding: {
                                left: 1rem;
                                right: 1rem;
                            }
                            line-height: 0;
                            a {
                                align-items: center;
                                font-size: 0.8rem;
                                text-decoration: none;
                                color: #fff;
                                margin-right: 0.5rem;
                                text-transform: uppercase;
                                font-family: "Montserrat Medium";
                                font-weight: 100;
                                padding: 1rem;
                                border: 2px solid transparent;
                                &:hover {
                                    color: #fff;
                                    border: 2px solid $corprincipal;
                                    border-radius: 3px;
                                   
                                }
                                i {
                                    color: #fff;
                                    font-size: 1.3rem;
                                }
                            }
                            ul {
                                display: none;
                                animation: menuHtml 1s;
                            }
                            &:hover {
                                ul {
                                    position: fixed;
                                    height: auto;
                                    top: 80px;
                                    z-index: 11;
                                    display: block;
                                    min-width: 150px;
                                    width: auto !important;
                                    padding-left: 0rem;
                                    z-index: 10 !important;
                                    background: #fff;
                                    border-top: 1px solid $corprincipal;
                                    animation: menuHtml 1s;
                                    li {
                                        a {
                                            width: 100%;
                                            display: block;
                                            padding: {
                                                left: 0.5rem;
                                                right: 0.5rem;
                                                top: 1rem;
                                                bottom: 1rem;
                                            }
                                        }
                                        &:hover {
                                            background: $corprincipal;
                                            a {
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                            &:before {
                                position: absolute;
                                right: 10px;
                                top: 37px;
                            }
                        }
                    }
                }
            }
        }
    }
    .right {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
}



.slideFeatured {
    position: relative;
    width: 100%;
    height: 100vh;
        top: -80px;
    background-position: center;
}

footer {
    background: $quinternaria;
    color: $quartenaria;
    .left {
        padding: 2rem;
        text-align: center;
        .img {
            width: 100%;
            text-align: left;
            img {
                margin-top: 1rem;
                width: 80%;
            }
        }
        hr {
            width: 10%;
            height: 0.2rem;
            background-color: $corprincipal;
            border: none;
            margin-left: 0;
        }
        .text {
            p {
                text-align: left;
                font-size: 0.75rem;
            }
        }
    }
    .right {
        padding: 2rem;
        padding-top: 4rem;
        h1 {
            font-size: 1.5rem;
        }
        hr {
            width: 10%;
            height: 0.2rem;
            background-color: $corprincipal;
            border: none;
            margin-left: 0;
        }
        ul {
            padding: {
                left: 0;
            }
            list-style: none;
            li {
                padding-left: 1.3em;
                a {
                    padding-top: 0;
                    font-size: 0.75rem;
                    list-style: none;
                    text-decoration: none;
                    color: $quartenaria;
                    &:hover {
                        color: $corprincipal;
                    }
                }
                .hvr-underline-from-left:before {
                    background: $corprincipal !important;
                    height: 0.05rem !important;
                }
                &:before {
                    content: "";
                    position: absolute;
                    background: url("../image/icons/arrow.webp");
                    background-size: 0.5rem 0.5rem;
                    height: 0.5rem;
                    width: 0.5rem;
                    margin-left: -1.3rem;
                    margin-top: 0.5rem;
                    margin-bottom: 2rem;
                }
            }
        }
        .mediasocial {
            display: flex;
            li {
                padding: 0;
                a {
                    font-size: 1.4rem;
                    margin-right: 1rem;
                }
                &:before {
                    content: "";
                    display: none;
                    margin: 0;
                    width: 0;
                    background: none;
                    padding: 0;
                }
            }
        }
    }
}

#order_review_heading {
    display: none;
}

.carrinhoContainerFullFixed {
    width: 100%;
    position: relative;
    background: $corprincipal;
    display: flex;
    justify-items: end;
    left: 0;
    align-items: center;
    bottom: 0;
    z-index: 9;
    height: padding;
    padding: 1rem;
    justify-content: flex-end;
    .btn {
        margin: 0 !important;
    }
}

@import "animations.scss";