$colormask:#000000;
$masksubmask: #00000069;
$colorprimary: #ab2b31;
$colorsecound: #c75e63;
$colorterciary: #000000;


$colortextprimary: #000000;
$colortextsecondary: #696969;
$colortextterciary: #fff;
$colorquartenary: #575757;