@font-face {
  font-family: "Montserrat Regular";
  font-display: auto;
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Medium";
  font-display: auto;
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat Bold";
  font-display: auto;
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat Light";
  font-display: auto;
  src: url("../fonts/Montserrat-Light.ttf");
}
.red {
  background: red;
}

.grafiti {
  background: #262324;
}

.white {
  background: #fff;
}

.t-center {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.s {
  padding-top: 0.8125rem !important;
  padding-right: 2.125rem !important;
  padding-bottom: 0.8125rem !important;
  padding-left: 2.25rem !important;
}

.m {
  padding-top: 1.5rem !important;
  padding-right: 2rem !important;
  padding-bottom: 1.3rem !important;
  padding-left: 2rem !important;
}

.l {
  padding-top: 2rem !important;
  padding-right: 2rem !important;
  padding-bottom: 3rem !important;
  padding-left: 3rem !important;
}

.center-h {
  align-content: center;
}

.sticky-wrapper {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

#wc_start {
  width: 100%;
}

.btn {
  border-radius: 21px 21px 21px 0px;
  -moz-border-radius: 21px 21px 21px 0px;
  -webkit-border-radius: 21px 21px 21px 0px;
  border: 0px solid #000000;
  text-decoration: none;
  list-style: none;
  color: #fff;
  background: #bb3f28;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  margin-bottom: 4rem !important;
}

.outline {
  border: 1px solid #fff;
  background: transparent;
}

.btn_menu {
  border-radius: 16px 16px 16px 0px;
  -moz-border-radius: 16px 16px 16px 0px;
  -webkit-border-radius: 16px 16px 16px 0px;
  border: 0px solid #000000;
  padding: 0.6rem 1rem 0.6rem 1rem;
  color: #fff !important;
  background: #bb3f28;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 40px !important;
}
.btn_menu a {
  color: #fff !important;
}

.btn_menu_2 {
  border-radius: 16px 16px 16px 0px;
  -moz-border-radius: 16px 16px 16px 0px;
  -webkit-border-radius: 16px 16px 16px 0px;
  border: 0px solid #000000;
  padding: 0.6rem 1rem 0.6rem 1rem;
  color: #fff !important;
  background: #262324;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 40px !important;
}
.btn_menu_2 a {
  color: #fff !important;
}

.trevo {
  background: url("../image/icons/trevo.webp");
  height: 5rem;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sidebar .innersidebar {
  padding: 1rem;
  -webkit-box-shadow: 0px 9px 36px 0px #e0e0e0;
  -moz-box-shadow: 0px 9px 36px 0px #e0e0e0;
  box-shadow: 0px 9px 36px 0px #e0e0e0;
  margin-top: 2rem;
}
.sidebar .innersidebar ul {
  padding: 0;
  list-style: none;
}
.sidebar .innersidebar li .searchInput {
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0px 9px 36px 0px #e0e0e0;
  -moz-box-shadow: 0px 9px 36px 0px #e0e0e0;
  box-shadow: 0px 9px 36px 0px #e0e0e0;
  border-radius: 1rem;
  border: none;
  margin-top: 1rem;
  color: #e0e0e0;
  font-family: "Montserrat Light";
}
.sidebar .innersidebar li h2 {
  margin-bottom: 0;
  margin-top: 3rem;
  font-size: 1rem;
  font-family: "Montserrat Light";
}
.sidebar .innersidebar li hr {
  width: 10%;
  margin-left: 0;
  padding: 0;
  height: 3px;
  background: #bb3f28;
  border: 0;
}
.sidebar .innersidebar li ul {
  padding: 0;
  list-style: none;
  padding-top: 0.3rem;
  padding-bottom: 1rem;
}
.sidebar .innersidebar li ul li {
  padding: 0.2rem;
  padding-left: 0;
}
.sidebar .innersidebar li ul li a {
  color: #888;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  text-decoration: none;
  font-family: "Montserrat Light";
}
.sidebar .innersidebar li ul li a:hover {
  background: #bb3f28;
  width: auto;
  padding: 0.3rem;
  color: #fff;
}
.sidebar .innersidebar li ul li a:active {
  background: #bb3f28;
  width: auto;
  padding: 0.3rem;
  color: #fff;
}
.sidebar .innersidebar li ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1rem;
  padding: 1rem;
  color: #262324;
  font-family: "Montserrat Regular";
}
.sidebar .innersidebar li ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 1rem;
  padding: 1rem;
  color: #262324;
  font-family: "Montserrat Regular";
}
.sidebar .innersidebar li :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 1rem;
  padding: 1rem;
  color: #262324;
  font-family: "Montserrat Regular";
}
.sidebar .innersidebar li :-moz-placeholder {
  /* Firefox 18- */
  font-size: 1rem;
  padding: 1rem;
  color: #262324;
  font-family: "Montserrat Regular";
}
.sidebar .innersidebar li .btnContainer {
  width: 100%;
  text-align: right;
  margin-top: 1rem;
}
.sidebar .innersidebar li .btnContainer .btn {
  margin-bottom: 0.5rem !important;
}

.cardFlipEffect {
  width: 100%;
  margin: 1rem;
  cursor: pointer;
  margin-top: 5rem;
  margin-bottom: 0rem;
}

/*
.cardFlipEffectContainer {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back {
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 0px;
    color: #fff;
    font-size: 1.5rem;
}

.back {
    background: $corprincipal;
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    opacity: 0.6;
    background-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0px;
}

.cardFlipEffectContainer:hover .front,
.cardFlipEffectContainer:hover .back {
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    height: 400px;
    padding-top: 5rem;
}

.cardFlipEffectContainer .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cardFlipEffectContainer .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    .inner {
        div {
            width: 100%;
            .icon-consultoria {
                color: $corsecundaria !important;
                font-size: 2rem;
            }
        }
    }
}

.cardFlipEffectContainer:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cardFlipEffectContainer:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner {
    color: $corsecundaria;
}

.front .inner img {
    color: $corsecundaria;
}

.front .inner i {
    font-size: 5rem;
    color: $corsecundaria;
}

.front .inner p {
    font-size: 1.5rem;
    margin-bottom: 0rem;
    position: relative;
    text-transform: uppercase;
    font-family: "Montserrat Regular";
    color: $corsecundaria;
}

.front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Montserrat";
    font-weight: 300;
}

.cardFlipEffectContainer:hover .back .inner {
    display: flex;
    align-items: center;
    top: 0;
    height: 100%;
    transform: translate(0%);
    padding: 0;
    margin: 0;
}

.cardFlipEffectContainer:hover .front .inner {
    display: flex;
    align-items: center;
    top: 0;
    height: 100%;
    transform: translate(0%);
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 64rem) {
    .cardFlipEffect {
        width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem) {
    .cardFlipEffect {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem) {
    .cardFlipEffect {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}

*/
#card_plugin_container {
  position: relative;
  margin: 10px auto;
  width: 100%;
  height: 300px;
  z-index: 1;
}

#card_plugin_container {
  perspective: 1000;
}

#card_plugin_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s linear;
}

#card_plugin_container:hover #card_plugin_card {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
}
.face .innerFrontContainerFlipCard {
  display: block;
  text-align: center;
}
.face .innerFrontContainerFlipCard .div {
  width: 100%;
}
.face .innerFrontContainerFlipCard .div span {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #bb3f28;
  display: flex;
  align-items: center;
}

.back {
  display: flex;
  align-items: center;
}
.back .innerBackContainerFlipCard {
  display: block;
  text-align: center;
  z-index: 10;
  width: 100%;
}
.back .innerBackContainerFlipCard .div {
  width: 100%;
}
.back .innerBackContainerFlipCard .div span {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.back:hover {
  display: flex;
  align-items: center;
}

.fixedCard {
  width: 100%;
  height: 15rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.fixedCard .inner {
  width: 100%;
  height: auto;
  padding: 0;
}
.fixedCard .inner .top {
  width: 100%;
  height: 11.625rem;
  background: transparent;
}
.fixedCard .inner .top h1 {
  font-size: 2rem;
  color: #bb3f28;
}
.fixedCard .inner .bottom {
  width: 100%;
  height: 3.1875rem;
  background: #bb3f28;
  transition: all 1s;
}
.fixedCard .inner .image {
  width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 4rem;
  background-position-y: 4rem;
  z-index: 9;
}
.fixedCard:hover .bottom {
  transition: all 1s;
  height: 8rem;
  margin-top: -1.8125rem;
}
.fixedCard:hover .top h1 {
  transition: all 1s;
}
.fixedCard:hover .image {
  filter: grayscale(75%) hue-rotate(142deg) saturate(1000%) contrast(101%) invert(7%);
  -webkit-filter: grayscale(75%) hue-rotate(142deg) saturate(1000%) contrast(101%) invert(7%);
  -moz-filter: grayscale(75%) hue-rotate(142deg) saturate(1000%) contrast(101%) invert(7%);
  transition: all 1s;
}

#slider {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 9999%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}
#slider ul li {
  position: relative;
  height: 100%;
  width: 100%;
  float: left;
}
#slider ul li div {
  width: 30%;
  height: 100%;
  background: white;
  float: left;
  margin: 0 1.5%;
}
#slider ul li:nth-child(1) {
  background-color: #00A6ED;
}
#slider ul li:nth-child(2) {
  background-color: #FFD966;
}
#slider ul li:nth-child(3) {
  background-color: #F71735;
}
#slider ul li:nth-child(4) {
  background-color: #89da59;
}
#slider ul li:nth-child(5) {
  background-color: #9881F5;
}
#slider #prev,
#slider #next {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}
#slider #prev:hover,
#slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}
#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}

.componentOurStores {
  height: 15rem;
}
.componentOurStores h1 {
  font-family: "Montserrat Bold";
  color: #bb3f28 !important;
  font-size: 1.7rem;
  width: 100%;
}
.componentOurStores h1 span {
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  position: absolute;
}
.componentOurStores h3 {
  margin-left: -1rem;
  width: 100%;
  margin-top: 17rem;
  position: relative;
  color: #868686;
}

.imageComponentImage {
  height: 15rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.imageComponentImage .inner {
  width: 100%;
  height: auto;
  padding: 1rem 0rem 1rem 1rem;
  position: relative;
  top: 0;
  transform: none;
}
.imageComponentImage .inner .image {
  background: url();
  width: 20rem;
  height: 15rem;
  background: blue;
  z-index: 2;
  position: absolute;
}
.imageComponentImage .inner:before {
  content: "";
  width: 20rem;
  height: 15rem;
  border: 2px solid #bb3f28;
  margin-top: -1rem;
  position: absolute;
  padding: 1rem 0 1rem 0;
  left: 0;
  top: 3rem;
  z-index: 0;
}
.imageComponentImage .inner:after {
  content: "";
  width: 20rem;
  height: 15rem;
  border: 2px solid #262324;
  margin-top: -1rem;
  position: absolute;
  padding: 1rem 0 1rem 0;
  right: 0;
  top: 1rem;
  z-index: 2;
}
#modalOpenCart {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99999;
}

#modalErroCart {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

#modalInfoCart {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99999;
}

.leftContainerModal {
  display: flex;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 12px;
  border: none;
  width: 800px;
  overflow: hidden;
  -webkit-animation: bodyHtml 2s;
  z-index: 99999;
  /* Safari 4.0 - 8.0 */
  animation: bodyHtml 3s;
  transition: all 1s;
}
.modal-content p {
  text-align: left;
  font-size: 0.8rem;
}
.modal-content .innertabsbottomtop {
  position: relative;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.modal-content .innertabsbottomtop button {
  border-radius: 21px 21px 21px 0px;
  -moz-border-radius: 21px 21px 21px 0px;
  -webkit-border-radius: 21px 21px 21px 0px;
  border: 0px solid #000000;
  text-decoration: none;
  list-style: none;
  color: #fff;
  background: transparent;
  border: 1px solid #bb3f28;
  color: #bb3f28;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  margin-bottom: 1rem !important;
  margin-left: 10px;
}
.modal-content .containertabs {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* customize scrollbar css */
}
.modal-content .containertabs .Page {
  height: 200px;
  width: 100%;
  overflow: auto;
  background-color: transparent;
  padding: 0em;
}
.modal-content .containertabs .wrapper {
  height: auto;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}
.modal-content .containertabs .Element {
  width: 100%;
  height: auto;
  background-color: transparent;
  font-size: 0.8rem;
}
.modal-content .containertabs #scrollbar-custom::-webkit-scrollbar {
  width: 12px;
  background-color: #ffffff;
}
.modal-content .containertabs #scrollbar-custom::-webkit-scrollbar:horizontal {
  height: 12px;
}
.modal-content .containertabs #scrollbar-custom::-webkit-scrollbar-track {
  border: 1px #ffffff solid;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 6px #ffffff inset;
}
.modal-content .containertabs #scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #b03c3f;
  border: 1px solid #ffffff;
  border-radius: 100px;
}
.modal-content .containertabs #scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #bf4649;
  border: 1px solid #ffffff;
}
.modal-content .containertabs #scrollbar-custom::-webkit-scrollbar-thumb:active {
  background-color: #a6393d;
  border: 1px solid #ffffff;
}
.modal-content .containertabs .innertabscontent {
  width: 100%;
  height: 100%;
}
.modal-content .containertabs .innertabscontent iframe {
  width: 100%;
  height: 100%;
  position: relative;
  border: 0;
  width: 100%;
  height: 100%;
}
.modal-content .containertabs .innertabscontent .info {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  background: #bb3f28;
  top: 0;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.modal-content .active {
  background: #bb3f28 !important;
  color: #fff !important;
}

.close {
  color: #bb3f28;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.slide-single {
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.slide-single .h1container {
  width: 100%;
  justify-content: center;
  display: flex;
}
.slide-single .h1container h1 {
  font-size: 3em;
  color: #fff;
  font-family: "Montserrat Bold" !important;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.slide-single .h3container {
  width: 100%;
  justify-content: center;
  display: flex;
}
.slide-single .h3container h3 {
  font-size: 1.5em !important;
  color: #fff !important;
  font-family: "Montserrat Bold" !important;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.slide-single .acontainer {
  width: 100%;
  justify-content: center;
  display: flex;
}
.slide-single .acontainer .btn-slide {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.bullets {
  position: relative;
  z-index: 8;
  bottom: 0rem;
  left: 0;
  width: 100%;
  height: 80px;
  transform: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}
.bullets span {
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  opacity: 0.5;
  transition: 0.5s all;
  margin-left: 5px;
}
.bullets span:hover {
  background: #bb3f28;
}
.bullets .active-slider {
  background: #bb3f28;
}

.fixedCard {
  width: 100%;
  height: 15rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.fixedCard .inner {
  width: 100%;
  height: auto;
  padding: 0;
}
.fixedCard .inner .top {
  width: 100%;
  height: 11.625rem;
  background: transparent;
}
.fixedCard .inner .top h1 {
  font-size: 2rem;
  color: #bb3f28;
}
.fixedCard .inner .bottom {
  width: 100%;
  height: 3.1875rem;
  background: #bb3f28;
  transition: all 1s;
}
.fixedCard .inner .image {
  width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 4rem;
  background-position-y: 4rem;
  z-index: 9;
}
.fixedCard:hover .bottom {
  transition: all 1s;
  height: 8rem;
  margin-top: -1.8125rem;
}
.fixedCard:hover .top h1 {
  transition: all 1s;
}
.fixedCard:hover .image {
  filter: grayscale(75%) hue-rotate(142deg) saturate(1000%) contrast(101%) invert(7%);
  -webkit-filter: grayscale(75%) hue-rotate(142deg) saturate(1000%) contrast(101%) invert(7%);
  -moz-filter: grayscale(75%) hue-rotate(142deg) saturate(1000%) contrast(101%) invert(7%);
  transition: all 1s;
}

.bannerPrincipal {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
  background-image: url(../image/banners/about.webp);
  background-size: cover;
  background-position: center;
}
.bannerPrincipal:before {
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  background: #bb3f28;
  opacity: 0.5;
  -webkit-animation: slide 0.5s linear alternate;
}
.bannerPrincipal h1 {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  margin-top: 0rem;
}

@keyframes slide {
  0% {
    margin-left: -500px;
  }
  100% {
    margin-left: 0 !important;
  }
}
.productPrincipal .image {
  width: 100%;
  height: auto;
  padding: 2rem;
}
.productPrincipal .image picture {
  padding: 2rem;
}
.productPrincipal .image picture img {
  width: 100%;
}
.productPrincipal .textMoreArrow {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
}
.productPrincipal .textMoreArrow .texts {
  grid-column: span 11;
  align-self: center;
  justify-self: left;
}
.productPrincipal .textMoreArrow .texts .innerTexts {
  grid-column: span 12;
}
.productPrincipal .textMoreArrow .texts .innerTexts h1 {
  font-size: 1rem;
  grid-column: span 12;
  font-family: "Montserrat Regular";
  text-transform: uppercase;
}
.productPrincipal .textMoreArrow .texts .innerTexts h1 span {
  font-size: 0.8rem;
  font-weight: 300;
  font-family: "Montserrat Regular";
  text-transform: uppercase;
}
.productPrincipal .textMoreArrow .arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.productPrincipal .textMoreArrow .arrows ul {
  list-style: none;
  padding: 0;
}
.productPrincipal .textMoreArrow .arrows ul li {
  text-align: center;
  width: 100%;
}
.productPrincipal .textMoreArrow .arrows ul li a {
  text-decoration: none;
  font-size: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.productPrincipal .textMoreArrow .arrows ul .arrowsSelectUp {
  background-color: #bb3f28;
  border-radius: 5px 5px 0 0;
}
.productPrincipal .textMoreArrow .arrows ul .arrowsSelectUp i {
  color: #fff;
}
.productPrincipal .textMoreArrow .arrows ul .arrowsSelectDown {
  background-color: #bb3f28;
  border-radius: 0 0 5px 5px;
}
.productPrincipal .textMoreArrow .arrows ul .arrowsSelectDown i {
  color: #fff;
}
.productPrincipal .button {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
  font-size: 0.8rem;
}
.productPrincipal .button .btnAddCart {
  grid-column: span 10;
  display: flex;
  align-content: center;
  justify-content: center;
  background: transparent;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  border-top: 1px;
  border-left: 1px;
  border-bottom: 1px;
  border-right: 0;
  border-style: solid;
  border-color: #bb3f28;
  border-radius: 20px 0 0 0px;
  color: #262324;
  align-self: center;
}
.productPrincipal .button .btnAddCart i {
  align-self: center;
}
.productPrincipal .button .btnMoreInformation {
  grid-column: span 2;
  background: #262324;
  border: 1px solid #262324;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0px 20px 20px 0px;
  align-self: center;
  height: 100%;
}
.productPrincipal .button .btnMoreInformation i {
  color: #fff;
  align-self: center;
}

.productPrincipalCategory .image {
  width: 100%;
  height: auto;
  padding: 0rem;
}
.productPrincipalCategory .image picture {
  padding: 0rem;
}
.productPrincipalCategory .image picture img {
  width: 100%;
}
.productPrincipalCategory .textMoreArrow {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
}
.productPrincipalCategory .textMoreArrow .texts {
  grid-column: span 11;
  align-self: center;
  justify-self: left;
}
.productPrincipalCategory .textMoreArrow .texts .innerTexts {
  grid-column: span 12;
}
.productPrincipalCategory .textMoreArrow .texts .innerTexts h1 {
  font-size: 1rem;
  grid-column: span 12;
  font-family: "Montserrat Regular";
  text-transform: uppercase;
}
.productPrincipalCategory .textMoreArrow .texts .innerTexts h1 span {
  font-size: 0.8rem;
  font-weight: 300;
  font-family: "Montserrat Regular";
  text-transform: uppercase;
}
.productPrincipalCategory .textMoreArrow .arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.productPrincipalCategory .textMoreArrow .arrows ul {
  list-style: none;
  padding: 0;
}
.productPrincipalCategory .textMoreArrow .arrows ul li {
  text-align: center;
  width: 100%;
}
.productPrincipalCategory .textMoreArrow .arrows ul li a {
  text-decoration: none;
  font-size: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.productPrincipalCategory .textMoreArrow .arrows ul .arrowsSelectUp {
  background-color: #bb3f28;
  border-radius: 5px 5px 0 0;
}
.productPrincipalCategory .textMoreArrow .arrows ul .arrowsSelectUp i {
  color: #fff;
}
.productPrincipalCategory .textMoreArrow .arrows ul .arrowsSelectDown {
  background-color: #bb3f28;
  border-radius: 0 0 5px 5px;
}
.productPrincipalCategory .textMoreArrow .arrows ul .arrowsSelectDown i {
  color: #fff;
}
.productPrincipalCategory .button {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
  font-size: 0.8rem;
}
.productPrincipalCategory .button .btnAddCart {
  grid-column: span 10;
  display: flex;
  align-content: center;
  justify-content: center;
  background: transparent;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  border-top: 1px;
  border-left: 1px;
  border-bottom: 1px;
  border-right: 0;
  border-style: solid;
  border-color: #bb3f28;
  border-radius: 20px 0 0 0px;
  color: #262324;
  align-self: center;
}
.productPrincipalCategory .button .btnAddCart i {
  align-self: center;
}
.productPrincipalCategory .button .btnMoreInformation {
  grid-column: span 2;
  background: #262324;
  border: 1px solid #262324;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0px 20px 20px 0px;
  align-self: center;
  height: 100%;
}
.productPrincipalCategory .button .btnMoreInformation i {
  color: #fff;
  align-self: center;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: "Montserrat Regular";
  -webkit-animation: bodyHtml 2s;
  /* Safari 4.0 - 8.0 */
  animation: bodyHtml 3s;
  overflow-x: hidden;
  font-size: 16px;
}

.menuPrimary {
  width: 100%;
  position: absolute;
  height: 80px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 9 !important;
}
.menuPrimary .container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
}
.menuPrimary .container-fluid .row {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;
}
.menuPrimary .container-fluid .row .center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  height: 100%;
}
.menuPrimary .container-fluid .row .center nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.menuPrimary .container-fluid .row .center nav #menu-principal-sticky-wrapper {
  height: auto !important;
}
.menuPrimary .container-fluid .row .center nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}
.menuPrimary .container-fluid .row .center nav ul li {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 0;
}
.menuPrimary .container-fluid .row .center nav ul li a {
  align-items: center;
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
  margin-right: 0.5rem;
  text-transform: uppercase;
  font-family: "Montserrat Medium";
  font-weight: 100;
  padding: 1rem;
  border: 2px solid transparent;
}
.menuPrimary .container-fluid .row .center nav ul li a:hover {
  color: #fff;
  border: 2px solid #bb3f28;
  border-radius: 3px;
}
.menuPrimary .container-fluid .row .center nav ul li a i {
  color: #fff;
  font-size: 1.3rem;
}
.menuPrimary .container-fluid .row .center nav ul li ul {
  display: none;
  animation: menuHtml 1s;
}
.menuPrimary .container-fluid .row .center nav ul li:hover ul {
  position: fixed;
  height: auto;
  top: 80px;
  z-index: 11;
  display: block;
  min-width: 150px;
  width: auto !important;
  padding-left: 0rem;
  z-index: 10 !important;
  background: #fff;
  border-top: 1px solid #bb3f28;
  animation: menuHtml 1s;
}
.menuPrimary .container-fluid .row .center nav ul li:hover ul li a {
  width: 100%;
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.menuPrimary .container-fluid .row .center nav ul li:hover ul li:hover {
  background: #bb3f28;
}
.menuPrimary .container-fluid .row .center nav ul li:hover ul li:hover a {
  color: #fff;
}
.menuPrimary .container-fluid .row .center nav ul li:before {
  position: absolute;
  right: 10px;
  top: 37px;
}
.menuPrimary .right {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.slideFeatured {
  position: relative;
  width: 100%;
  height: 100vh;
  top: -80px;
  background-position: center;
}

footer {
  background: #353535;
  color: #fff;
}
footer .left {
  padding: 2rem;
  text-align: center;
}
footer .left .img {
  width: 100%;
  text-align: left;
}
footer .left .img img {
  margin-top: 1rem;
  width: 80%;
}
footer .left hr {
  width: 10%;
  height: 0.2rem;
  background-color: #bb3f28;
  border: none;
  margin-left: 0;
}
footer .left .text p {
  text-align: left;
  font-size: 0.75rem;
}
footer .right {
  padding: 2rem;
  padding-top: 4rem;
}
footer .right h1 {
  font-size: 1.5rem;
}
footer .right hr {
  width: 10%;
  height: 0.2rem;
  background-color: #bb3f28;
  border: none;
  margin-left: 0;
}
footer .right ul {
  padding-left: 0;
  list-style: none;
}
footer .right ul li {
  padding-left: 1.3em;
}
footer .right ul li a {
  padding-top: 0;
  font-size: 0.75rem;
  list-style: none;
  text-decoration: none;
  color: #fff;
}
footer .right ul li a:hover {
  color: #bb3f28;
}
footer .right ul li .hvr-underline-from-left:before {
  background: #bb3f28 !important;
  height: 0.05rem !important;
}
footer .right ul li:before {
  content: "";
  position: absolute;
  background: url("../image/icons/arrow.webp");
  background-size: 0.5rem 0.5rem;
  height: 0.5rem;
  width: 0.5rem;
  margin-left: -1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
footer .right .mediasocial {
  display: flex;
}
footer .right .mediasocial li {
  padding: 0;
}
footer .right .mediasocial li a {
  font-size: 1.4rem;
  margin-right: 1rem;
}
footer .right .mediasocial li:before {
  content: "";
  display: none;
  margin: 0;
  width: 0;
  background: none;
  padding: 0;
}

#order_review_heading {
  display: none;
}

.carrinhoContainerFullFixed {
  width: 100%;
  position: relative;
  background: #bb3f28;
  display: flex;
  justify-items: end;
  left: 0;
  align-items: center;
  bottom: 0;
  z-index: 9;
  height: padding;
  padding: 1rem;
  justify-content: flex-end;
}
.carrinhoContainerFullFixed .btn {
  margin: 0 !important;
}

@keyframes bodyHtml {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes menuHtml {
  0% {
    transform: translateY(5rem);
    z-index: 0;
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    z-index: 11 !important;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
