.h-100 {
  height: 100%;
}

.resetPM {
  padding: 0;
  margin: 0;
}

.flexbetween {
  display: flex;
  justify-content: space-between;
}

.menuComponent {
  width: 100%;
  position: absolute;
  display: flex;
  z-index: 9;
  margin-top: 1.375rem;
}
.menuComponent .logo {
  float: left;
  width: 100px;
  display: flex;
  align-items: center;
}
.menuComponent .logo img {
  width: 100%;
}
.menuComponent .menu {
  width: calc(100% - 100px);
}
.menuComponent .menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  list-style: none;
  height: 100%;
}
.menuComponent .menu ul li {
  display: block;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.menuComponent .menu ul li a {
  text-decoration: none;
  color: #fff;
  border: 1px solid transparent;
  font-family: "Myriad Pro Regular" !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 0.1rem;
  font-size: 1rem;
  text-transform: uppercase;
}
.menuComponent .menu ul li a:hover {
  border: 1px solid #ab2b31;
}

.SlideComponent {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 0;
  z-index: 0;
  top: 0;
}
.SlideComponent .myslider {
  height: 100%;
  width: 100%;
  margin: 0px auto;
  position: relative;
  z-index: 0;
}
.SlideComponent .myslider .item {
  height: 100vh;
  width: 100%;
  background: #eeeeee;
  height: 100%;
}
.SlideComponent .myslider .owl-stage {
  height: 100%;
}
.SlideComponent .myslider .owl-stage-outer {
  height: 100%;
}
.SlideComponent .myslider .item img {
  height: 100vh;
  width: 100%;
}
.SlideComponent .owl-dots .owl-dot {
  margin: 0px 0px;
  z-index: 9;
}
.SlideComponent .owl-dots .owl-dot button {
  background: none;
  border: none;
  padding: 0;
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.SlideComponent .owl-dots .owl-dot button:focus {
  outline: none;
}
.SlideComponent .owl-dots .owl-dot.active button {
  color: #000000;
}
.SlideComponent .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.74+0,0+25,0+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#bd000000", endColorstr="#00000000",GradientType=0 );
  /* IE6-9 */
  top: 0;
  left: 0;
}
.SlideComponent .barProgress {
  position: relative;
  width: 100%;
  background: #00000069;
  height: 213px;
  border-top: 3px solid #003614;
  margin-top: -283px;
}
.SlideComponent .CommercialBarComponent {
  position: relative;
  z-index: 9;
  margin-top: -70px;
}

.CommercialBarComponent {
  width: 100%;
  background-color: #c75e63;
  height: 70px;
  display: flex;
  align-items: center;
  align-content: center;
}
.CommercialBarComponent .bar1 {
  width: 100%;
  background: #be5a5f;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: #fff;
}
.CommercialBarComponent .bar1 i {
  font-size: 2rem;
}
.CommercialBarComponent .bar1 label {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 5px;
  text-transform: uppercase;
}
.CommercialBarComponent .bar2 {
  width: 100%;
  background: #b95358;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: #fff;
}
.CommercialBarComponent .bar2 i {
  font-size: 2rem;
}
.CommercialBarComponent .bar2 label {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 5px;
  text-transform: uppercase;
}
.CommercialBarComponent .bar3 {
  width: 100%;
  background: #b44b50;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: #fff;
}
.CommercialBarComponent .bar3 i {
  font-size: 2rem;
}
.CommercialBarComponent .bar3 label {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 5px;
  text-transform: uppercase;
}
.CommercialBarComponent .bar4 {
  width: 100%;
  background: #af454a;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: #fff;
}
.CommercialBarComponent .bar4 i {
  font-size: 2rem;
}
.CommercialBarComponent .bar4 label {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 5px;
  text-transform: uppercase;
}

.TitleComponent {
  font-family: "Roboto Thin" !important;
}
.TitleComponent h1 {
  font-family: "Roboto Thin";
  color: #ab2b31;
  font-size: 40px;
  margin-bottom: 0;
  line-height: 1;
}
.TitleComponent h1 span {
  font-family: "Roboto Light";
  color: #575757;
}
.TitleComponent hr {
  width: 43px;
  border: 1px solid #ab2b31;
  margin-left: 0;
  margin-top: 18px;
}

.CardComponent {
  width: 374px;
  height: 391px;
  background-size: cover;
  background-position: center;
  margin-right: 0;
  position: relative;
  margin-bottom: 15px;
}
.CardComponent .CardMaster {
  width: 100%;
  height: 100%;
  position: relative;
}
.CardComponent .CardMaster .imageContainer {
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
}
.CardComponent .CardMaster .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 1%, rgba(0, 0, 0, 0.46) 64%, rgba(0, 0, 0, 0.74) 78%, black 98%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 1%, rgba(0, 0, 0, 0.46) 64%, rgba(0, 0, 0, 0.74) 78%, black 98%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 1%, rgba(0, 0, 0, 0.46) 64%, rgba(0, 0, 0, 0.74) 78%, black 98%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#12000000", endColorstr="#000000",GradientType=0 );
  /* IE6-9 */
  transition: all 1s;
}
.CardComponent .CardMaster .containerInner {
  position: relative;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;
  justify-items: center;
  background-size: cover !important;
  background-position: center !important;
  height: 100%;
  padding: 0;
  margin-top: -391px;
}
.CardComponent .CardMaster .containerInner .text {
  color: #fff;
  text-align: center;
  animation: animatedOutCardTranslateIn 2s;
  animation-fill-mode: forwards;
}
.CardComponent .CardMaster .containerInner .text h1 {
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: "Roboto Black";
  margin-top: 10px;
  text-transform: uppercase;
}
.CardComponent .CardMaster .containerInner .text h1 hr {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  border-color: #ab2b31;
  margin-bottom: 8px;
}
.CardComponent .CardMaster .containerInner .text h2 {
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Roboto Thin";
  text-transform: capitalize;
}
.CardComponent .CardMaster .containerInner .text h3 {
  line-height: 1;
  margin: 0;
  font-size: 13px;
  padding: 0;
  margin-bottom: 21px;
  font-family: "Roboto Regular";
  text-transform: capitalize;
}
.CardComponent .CardMaster:hover .text {
  animation: animatedOutCardTranslateOut 2s;
  animation-fill-mode: forwards;
}
.CardComponent .CardMaster:hover .overlay {
  background: #000;
}

.CardComponent:first-child, .CardComponent:nth-child(2) {
  width: 49.5%;
}

@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../fonts/Myriad/hinted-MyriadPro-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Myriad/hinted-MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Myriad/hinted-MyriadPro-Regular.woff2") format("woff2"), url("../fonts/Myriad/hinted-MyriadPro-Regular.woff") format("woff"), url("../fonts/Myriad/hinted-MyriadPro-Regular.ttf") format("truetype"), url("../fonts/Myriad/hinted-MyriadPro-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto/hinted-Roboto-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto/hinted-Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/hinted-Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto/hinted-Roboto-Black.woff") format("woff"), url("../fonts/Roboto/hinted-Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto/hinted-Roboto-Black.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/hinted-Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto/hinted-Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/hinted-Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/hinted-Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/hinted-Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/hinted-Roboto-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto/hinted-Roboto-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto/hinted-Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/hinted-Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto/hinted-Roboto-Light.woff") format("woff"), url("../fonts/Roboto/hinted-Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto/hinted-Roboto-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/Roboto/hinted-Roboto-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto/hinted-Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/hinted-Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto/hinted-Roboto-Thin.woff") format("woff"), url("../fonts/Roboto/hinted-Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto/hinted-Roboto-Thin.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@keyframes animatedOutCardTranslateIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes animatedOutCardTranslateOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}
@keyframes animatedOutCardOverlayOut {
  0% {
    background: #000000;
    opacity: 0;
  }
  100% {
    background: #000000;
    opacity: 1;
  }
}
body, html {
  margin: 0 auto;
  font-family: "Myriad Pro Regular" !important;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
