{% block footer %}
{{ BarFooterComponent() }}
</main>
<footer>
  <div class="container">
    <div class="row top">
      <div class="img">
        <img src="{{ ImagePublic() }}/logo.png" alt="" />
      </div>
      <div class="text">
        <p>
          Rua Ferreira de Araújo, 221 - 12º Andar - <br />Conj. Nº 121 -
          Pinheiros - São Paulo - SP<br />
          (11) 3093-6199
        </p>
      </div>
    </div>
    <div class="row middle">
      <div class="items">
        <h1>Home</h1>
        <ul>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
        </ul>
      </div>
      <div class="items">
        <h1>Conheça a Tpa</h1>
        <ul>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
        </ul>
      </div>
      <div class="items">
        <h1>Imóveis</h1>
        <ul>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
        </ul>
      </div>
      <div class="items">
        <h1>Obras Entregues</h1>
        <ul>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
        </ul>
      </div>
      <div class="items">
        <h1>Blog</h1>
        <ul>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
        </ul>
      </div>
      <div class="items">
        <h1>Área do Cliente</h1>
        <ul>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
        </ul>
      </div>
      <div class="items">
        <h1>Contato</h1>
        <ul>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
          <li><a href="">Tete</a></li>
        </ul>
      </div>
    </div>
    <div class="row bottom">
      <img src="{{ ImagePublic() }}/logoInternit.png" alt="" />
    </div>
  </div>
</footer>

{{ function("wp_footer") }}
<script>
let mainNavLinks = $("#menuComponent");
let mainSections = $("main");

let lastId;
let cur = [];

// This should probably be throttled.
// Especially because it triggers during smooth scrolling.
// https://lodash.com/docs/4.17.10#throttle
// You could do like...
// window.addEventListener("scroll", () => {
//    _.throttle(doThatStuff, 100);
// });
// Only not doing it here to keep this Pen dependency-free.

window.addEventListener("scroll", event => {
  let fromTop = window.scrollY;

  mainNavLinks.forEach(link => {
    let section = document.querySelector(link.hash);

    if (
      section.offsetTop <= fromTop &&
      section.offsetTop + section.offsetHeight > fromTop
    ) {
      link.classList.add("current");
    } else {
      link.classList.remove("current");
    }
  });
});

</script>
{% endblock %}
