{% block AboutComponent %}
<div
  class="AboutComponent"
  style="background-image:url({{ ImagePublic() }}/home.jpg)"
>
  <div class="container">
    <div class="row">
      <div class="left">
        {{ TitleComponent(title, subtitle) }}
        {{ text }}
        <a href="" class="btnPrincipal">CONHEÇA A TPA</a>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
