{% block CardBlogHomeComponent %}

<div class="CardBlogHomeComponent hvr-bob">
    <div class="CardMaster">
        <div class="imageContainer" style="background:url({{ImagePublic()}}apt.jpg)"></div>
<div class="text">
                <div class="brands"><span class="date">23 de Novembro</span><span class="category">Passeios</span></div>
                <h1>CONHEÇA 9 ESPAÇOS CULTURAIS GRATUITOS NO CENTRO DE SÃO PAULO</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac fringilla sapien, sed feugiat sem. Phasellus laoreet laoreet tellus quis lacinia.</p>
            </div>
    </div>
</div>

{% endblock %}