.budgetPage {
    .linha-alert{
        padding-left: 5rem;
        padding-right: 5rem;
        height: 200px;
    display: block;
    position: relative;
    }
  .innerText {
    width: 100%;
    text-align: center;
    h1 {
      font-family: "Montserrat Bold";
      font-size: 2rem;
    }
  }

  .attentionCard {
width: 100%;
    position: absolute;
    text-align: center;
    background: #f8f8f8;
    margin-bottom: 0;
    display: flex;
    left: 0;
    align-items: center;
    height: auto;
    .alert {
      float: left;
      font-size: 2rem;
      color: $corprincipal;
      padding: 2rem;
    }
    .text {
      height: 100%;
      display: flex;
      align-items: center;
      h3 {
        font-family: "Montserrat Light";
        font-size: 1rem;
      }
    }
  }
  .right {
    .innerForm {
      background: #f8f8f8;
      .title {
        width: 100%;
        background: $corprincipal;
        padding: 1rem;
        color: #fff;
        font-family: "Montserrat Bold";
      }
      .formulario {
        padding: 1rem;
        input[type="text"] {
          width: 100%;
          height: 40px;
          background: #e8e8e8;
          border: none;
          padding: 1rem;
          margin-bottom: 1rem;
        }
        input[type="email"] {
          width: 100%;
          height: 40px;
          background: #e8e8e8;
          border: none;
          padding: 1rem;
          margin-bottom: 1rem;
        }
        textarea {
          width: 100%;
          height: 200px;
          background: #e8e8e8;
          border: none;
          padding: 1rem;
          margin-bottom: 1rem;
        }
        .btn {
          margin-bottom: 1rem !important;
          display: block;
          width: 100%;
          text-align: center;
        }
        .outline {
          display: block;
          width: 100%;
          text-align: center;
          border-color: $corprincipal;
          color: $corprincipal;
        }
      }
    }
  }
}
