{% block CommercialBarComponent %}

<div class="CardComponent hvr-shrink">
    <div class="CardMaster">
        <div class="imageContainer" style="background:url({{ImagePublic()}}apt.jpg)"></div>
        <div class="overlay"></div>
        <div class="containerInner">
            <div class="logoOffset">
                    <img src="https://www.freepnglogos.com/uploads/eagles-png-logo/eagle-sports-png-logos--0.png"/>
            </div>
            <div class="text">
                <h2>Residence Jacques Pilon</h2>
                <h1>Centro / São PAtulo - SP  <hr /></h1>
                <h3>Studio e 2 Dorm.20 a 41m²</h3>
            </div>
            <div class="textOffset">
                <a href="" class="atencionCard">Lançamento</a>
                <h1>Centro / São PAtulo - SP</h1>
                <h2>Residence Jacques Pilon</h2>
                <h3>Studio e 2 Dorm.20 a 41m²</h3>
                <a href="" class="btn">Mais Detalhes</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}