{% block CommercialBarComponent %}

<div class="CardComponent">
    <div class="CardMaster">
        <div class="imageContainer" style="background:url({{ImagePublic()}}apt.jpg)"></div>
        <div class="overlay"></div>
        <div class="containerInner">
            <div class="text">
                <h2>Residence Jacques Pilon</h2>
                <h1>Centro / São PAtulo - SP  <hr /></h1>
                <h3>Studio e 2 Dorm.20 a 41m²</h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}