.blogPageSingle {
  margin-bottom: 2rem;
  .theContent {
    .artigo {
      .imgPostContent {
        width: 100%;
      }
      h1 {
        a {
          text-decoration: none !important;
          color: #000 !important;
        }
      }
      hr {
        width: 50px;
        border: 0.2rem solid $corprincipal;
        background: $corprincipal;
        margin-left: 0;
      }
    }
  }
}
