{% block BarFooterComponent %}

<div class="BarFooterComponent">
  <div class="container">
    <div class="row reset-0">
      <ul class="m-0">
        <li>
          <a href=""><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href=""><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href=""><i class="fab fa-youtube"></i></a>
        </li>
        <li>
          <a href=""><i class="fab fa-linkedin"></i></a>
        </li>
        <li>
          <a href=""><i class="far fa-newspaper"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
