.aboutPage {
    .linha {
        .left {
            padding-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: end;
            font-weight: 500;
            font-size: 1rem;
            .containerInnerText {
                h1 {
                    margin-bottom: 0;
                    margin-top: 0;
                }
                hr {
                    margin: 0;
                    padding: 0;
                    line-height: 0;
                    width: 10%;
                    border-color: $corprincipal;
                    margin-bottom: 0.85em;
                    margin-top: 0.85em;
                }
            }
        }
        .right {
            padding: 2rem;
            .centerGalleryOne {
                img {
                    height: 100%;
                    max-height: 350px;
                    width: 100%;
                }
                .slick-list {
                    padding-left: 1rem;
                    padding-right: 0rem;
                }
                .slick-prev {
                    margin-top: 0;
                    height: 100%;
                    background: transparent;
                }
                .slick-next {
                    display: block;
                    height: 100%;
                    top: 0;
                    margin-top: 0;
                    position: absolute;
                    background: transparent;
                    right: -1rem !important;
                }
            }
        }
    }
    .linha_2 {
        padding: {
            top: 0;
            bottom: 3rem;
        }
        .left {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 70%;
            }
        }
        .right {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 1rem;
        }
    }
    .linha_3 {
        padding: {
            top: 0rem;
            bottom: 5rem;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img {
            width: 170px;
            margin-left: 3.5rem;
            margin-right: 3.5rem;
        }
    }
    .linha_4 {
        padding: {
            top: 3rem;
            bottom: 0rem;
        }
        h2 {
            width: 100%;
            text-align: center;
            color: $corprincipal;
            font-size: 2rem;
        }
        p {
            text-align: center;
            font-size: 1rem;
        }
    }
    .linha_5 {
        padding: {
            top: 1rem;
            bottom: 3rem;
        }
    }
    .iconesAboutPage {
        width: 100% !important;
        text-align: center;
        span {
            font-size: 5rem;
            color:$corprincipal;
        }
    }
}